#block-billsblock {
  margin-top: 50px; }

.parking-container {
  display: flex !important;
  width: 100% !important;
  align-items: flex-end !important;
  justify-content: space-between; }

.parking-container-item-container {
  margin: 0 !important;
  padding: 0 !important;
  width: auto !important; }

.parking-container-item-container-button {
  margin: 0 !important;
  padding: 0 !important;
  align-items: center !important;
  position: static !important; }

.button-full-width {
  width: 100% !important; }

.sms-disclaimer {
  padding-left: 10px; }

.window-is-not-mobile .block-reminders .parking-booker-form > .form-wrapper > .form-wrapper:not(.is-mobile),
.window-is-not-mobile .block-parking-booker .parking-booker-form > .form-wrapper > .form-wrapper:not(.is-mobile) {
  display: flex !important; }

.block-reminders .form-block-container > .form-group.btn-space,
.block-parking-booker .form-block-container > .form-group.btn-space {
  position: absolute; }

.view-id-arrivals .late-24,
.view-id-departures .late-24 {
  display: none; }

.view-id-arrivals tr.warning .late-24,
.view-id-departures tr.warning .late-24 {
  display: block;
  font-size: 1.1rem;
  color: #ffcc33; }

@media (min-width: 768px) {
  .region.region-bottom-actions .block-parking-booker {
    flex-basis: 50%; } }

.disabled-parking-booker-form {
  font-weight: bold; }

.parking-content #recaptcha_element {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  flex-direction: column;
  flex-flow: column wrap;
  flex-wrap: wrap;
  align-items: flex-end; }

.job_title_wrapper {
  display: flex;
  justify-content: space-between; }
  .job_title_wrapper .field--items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }
    .job_title_wrapper .field--items .field--item {
      padding: 10px;
      background-color: #e6e6e6;
      margin: 5px;
      font-weight: lighter; }
      .job_title_wrapper .field--items .field--item:hover {
        background-color: #f2f2f2; }

#block-yqbblockalert {
  display: none; }

#block-yqbblockalert .form-group {
  position: relative;
  padding: 1.25rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #f5c6cb;
  border-radius: .25rem;
  color: #721c24;
  background-color: #f8d7da;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 22px; }

.block-alert {
  top: 75px; }
  .block-alert .block-yqb-payments {
    margin: 0 40px 40px 40px;
    max-width: 600px;
    width: calc(100% - 80px); }
  .block-alert .yqb-payments-checkout .user-info span {
    display: inline-block; }
    @media (min-width: 680px) {
      .block-alert .yqb-payments-checkout .user-info span.info {
        min-width: 440px;
        text-align: right;
        margin-bottom: 10px; } }
  @media print {
    .block-alert #layout-header {
      display: none; }
    .block-alert #layout-content > .header {
      display: none; }
    .block-alert #layout-content nav.tabs {
      display: none; }
    .block-alert .breadcrumb-wrapper {
      display: none; }
    .block-alert .region.region-bottom,
    .block-alert .region.region-bottom-actions,
    .block-alert #layout-footer {
      display: none; } }
  .block-alert .form-group.error input,
  .block-alert .has-error .form-control {
    background: #fff1f1; }

.block-yqb-payments {
  margin: 0 40px 40px 40px;
  max-width: 600px;
  width: calc(100% - 80px); }

.yqb-payments-checkout .user-info span {
  display: inline-block; }
  @media (min-width: 680px) {
    .yqb-payments-checkout .user-info span.info {
      min-width: 440px;
      text-align: right;
      margin-bottom: 10px; } }
