#layout-header .dropdown.open .dropdown-menu {
  width: 100%; }

body.toolbar-horizontal.toolbar-tray-open {
  padding-top: 79px !important; }

body.toolbar-horizontal {
  padding-top: 40px !important; }

#nav-footer-socials .icon-infolettre {
  background-image: none;
  border: 5px solid white;
  border-radius: 25px;
  background: white; }

#nav-footer-socials a .icon.icon-infolettre path {
  fill: black !important; }
