.view-page-categories_faq .region-content {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #F1F5F8; }
  @media (min-width: 1024px) {
    .view-page-categories_faq .region-content {
      padding-top: 60px;
      padding-bottom: 100px; } }

.view-page-categories_faq .main-content {
  border-bottom: 0; }

.view-page-categories_faq .page-wrapper {
  margin-bottom: 0; }

.categoriesFaq__header {
  display: flex;
  flex-direction: column;
  max-width: 915px;
  margin: 0 auto 30px; }
  @media (min-width: 768px) {
    .categoriesFaq__header {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto 56px; } }
  .categoriesFaq__header .title-page {
    margin: 0 0 30px;
    padding: 0;
    border: 0;
    font-size: 3rem;
    font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
    font-weight: 700; }
    @media (min-width: 768px) {
      .categoriesFaq__header .title-page {
        margin: 0;
        font-size: 4rem; } }

.search-block-form-faq {
  width: 100%; }
  @media (min-width: 768px) {
    .search-block-form-faq {
      width: 270px; } }
  .search-block-form-faq .input-group {
    border: 1px solid #C4C4C4;
    height: 40px;
    background-color: #fff; }
  .search-block-form-faq .form-search {
    width: 100%;
    height: 40px;
    padding: 0 0 0 16px;
    font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 2.2; }
    .search-block-form-faq .form-search::placeholder {
      color: #787878;
      font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
      font-size: 1.2rem;
      line-height: 2.2; }
  .search-block-form-faq .form-submit {
    width: 45px;
    height: 100%;
    background: transparent;
    border: 0; }
  .search-block-form-faq svg {
    fill: #0054FF; }

.categoriesFaq__wrapper {
  max-width: 915px;
  margin: 0 auto; }
  .categoriesFaq__wrapper .categoriesFaq__grid {
    margin: 0 -4px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .categoriesFaq__wrapper .categoriesFaq__grid-item {
    margin: 0 4px 8px;
    flex-shrink: 0;
    width: calc(50% - 8px);
    height: 190px; }
    @media (min-width: 768px) {
      .categoriesFaq__wrapper .categoriesFaq__grid-item {
        width: calc(33% - 8px);
        height: 190px; } }
    @media (min-width: 1024px) {
      .categoriesFaq__wrapper .categoriesFaq__grid-item {
        width: calc(25% - 8px);
        height: 190px; } }
  .categoriesFaq__wrapper .categoriesFaq__grid-item-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 20px 43px;
    flex-grow: 0; }
    .categoriesFaq__wrapper .categoriesFaq__grid-item-link img {
      height: auto;
      flex-grow: 0;
      transition: transform 250ms ease-in-out; }
    .categoriesFaq__wrapper .categoriesFaq__grid-item-link .category-name {
      margin-top: 13px;
      flex-grow: 0;
      color: #fff;
      font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
      font-size: 2.2rem; }
    .categoriesFaq__wrapper .categoriesFaq__grid-item-link:hover img {
      transform: scale(1.3, 1.3); }

.main-container-faq .search-block-form-faq {
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .main-container-faq .search-block-form-faq {
      width: 330px;
      margin-bottom: 38px; } }

.main-container-faq .page-wrapper {
  background-color: #F1F5F8; }

.main-container-faq .title-page {
  font-size: 3rem;
  font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  border-bottom: 0; }
  @media (min-width: 768px) {
    .main-container-faq .title-page {
      margin: 0;
      font-size: 4rem; } }

.main-container-faq .categoriesFaq__wrapper-menu .nav {
  display: flex;
  justify-content: center; }
  .main-container-faq .categoriesFaq__wrapper-menu .nav li a {
    margin: 0 20px;
    padding: 0;
    position: relative; }
    .main-container-faq .categoriesFaq__wrapper-menu .nav li a::before {
      content: "";
      height: 2px;
      position: absolute;
      right: 0;
      bottom: 1px;
      left: 0;
      background-color: #0054ff;
      opacity: 0;
      transition: opacity 250ms ease-in-out; }
    .main-container-faq .categoriesFaq__wrapper-menu .nav li a:hover {
      background-color: transparent; }
      .main-container-faq .categoriesFaq__wrapper-menu .nav li a:hover::before {
        opacity: 1; }

.main-container-faq .subCategoriesFaq__menu {
  display: flex;
  max-width: 780px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  flex-direction: row;
  justify-content: center; }
