.field--name-body h2 {
  font-size: 2.4rem;
  margin: 40px;
  font-weight: normal; }

.field--name-body p {
  font-size: 16px;
  margin: 40px; }

.field--name-field-plus-icon-gouvernance-empl {
  text-align: center; }
  .field--name-field-plus-icon-gouvernance-empl .img-responsive {
    display: inline-block;
    max-width: 25px;
    padding-top: 15px; }

.field--name-field-paragraphs {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }
  .field--name-field-paragraphs .row-wrapper {
    position: relative;
    min-height: 300px; }
  .field--name-field-paragraphs .trio_content {
    padding-top: 130px;
    margin: auto;
    width: 50%;
    text-align: center; }
    .field--name-field-paragraphs .trio_content .field--name-field-title-gouvernance-employe {
      font-size: 2.4rem; }
    .field--name-field-paragraphs .trio_content .field--name-field-sous-titre-gouvernance-emp {
      font-size: 16px; }
  .field--name-field-paragraphs .field--item:nth-child(odd) .row-wrapper {
    background-color: #f7f7f7; }
  .field--name-field-paragraphs .field--item:nth-child(even) .row-wrapper {
    background-color: white; }
  .field--name-field-paragraphs .field--item:nth-child(odd) .row-wrapper .field--name-field-image-gouvernance-employe img {
    position: absolute;
    right: 0px;
    bottom: 0; }
    @media only screen and (max-width: 600px) {
      .field--name-field-paragraphs .field--item:nth-child(odd) .row-wrapper .field--name-field-image-gouvernance-employe img {
        display: none; } }
  .field--name-field-paragraphs .field--item:nth-child(even) .row-wrapper .field--name-field-image-gouvernance-employe {
    background-color: #fff; }
    .field--name-field-paragraphs .field--item:nth-child(even) .row-wrapper .field--name-field-image-gouvernance-employe img {
      position: absolute;
      left: 0px;
      bottom: 0; }
      @media only screen and (max-width: 600px) {
        .field--name-field-paragraphs .field--item:nth-child(even) .row-wrapper .field--name-field-image-gouvernance-employe img {
          display: none; } }

.paragraph--type--gouvernance-texte {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }
  .paragraph--type--gouvernance-texte .field--name-field-title-gouvernance-texte {
    margin: 40px;
    font-size: 2.4rem; }
  .paragraph--type--gouvernance-texte .field--name-field-field-texte-gouvernance-te {
    margin: 40px;
    font-size: 16px; }
