.paragraph--type--mosaique .field--name-field-image {
  display: block; }

.paragraph--type--mosaique img,
.paragraph--type--mosaique video {
  width: 100%;
  max-width: 100%;
  height: auto; }

.field--name-field-media-video-file {
  position: relative; }
  .field--name-field-media-video-file .theover:hover path:nth-child(1) {
    fill: rgba(51, 51, 51, 0.8); }
  .field--name-field-media-video-file svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    opacity: .9;
    z-index: 1000; }
    .field--name-field-media-video-file svg path:nth-child(1):hover {
      fill: rgba(51, 51, 51, 0.8); }
    .field--name-field-media-video-file svg path:nth-child(1) {
      fill: rgba(0, 0, 0, 0.6); }
    .field--name-field-media-video-file svg path:nth-child(2) {
      fill: white; }

.field--name-field-paragraph-media-mosaique:after {
  content: "";
  display: table;
  clear: both; }

.field--name-field-paragraph-media-mosaique > .field--item {
  width: 23.1%;
  margin-bottom: 24px;
  margin-right: 2.5%;
  text-align: left;
  vertical-align: middle;
  cursor: pointer; }

.field--name-field-paragraph-media-mosaique > .field--item:nth-child(4n),
.field--name-field-paragraph-media-mosaique > .field--item:last-child {
  margin-right: 0; }

#siema {
  overflow: hidden;
  direction: ltr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; }
  #siema button.close {
    opacity: 0.7;
    float: right;
    color: #fff;
    padding: 5px 0px;
    width: 15px; }
    #siema button.close svg {
      fill: #fff; }
    #siema button.close:hover {
      opacity: 1; }
  #siema video {
    width: 100%;
    transform: translateY(8%); }
  #siema > div, #siema > div > div {
    text-align: center;
    height: 100%;
    display: relative; }
  #siema .siema-item-container {
    position: relative; }
    #siema .siema-item-container .video-full-screen {
      width: 36px;
      height: 37px;
      position: absolute;
      bottom: -5px;
      right: 53px;
      display: block;
      background-color: transparent;
      z-index: 99999999;
      cursor: pointer; }
    #siema .siema-item-container img {
      width: 100%; }

.controls .next {
  right: 15%; }
  .controls .next svg {
    transform: rotate(-90deg);
    margin-top: 6px; }
    .controls .next svg path {
      fill: #fff; }

.controls .prev {
  left: 15%; }
  .controls .prev svg {
    transform: rotate(90deg);
    margin-top: 6px; }
    .controls .prev svg path {
      fill: #fff; }

.controls .next, .controls .prev {
  background-color: #3376ff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 22px;
  margin-top: -10px;
  padding: 8px 10px 9px;
  position: absolute;
  top: 50%;
  z-index: 1080;
  border: none;
  outline: none;
  width: 75px;
  height: 75px; }

.controls .next.disabled, .controls .prev.disabled {
  opacity: .5;
  cursor: default; }

.caroussel-outer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.15s ease 0s;
  opacity: 0;
  z-index: -1; }
  .caroussel-outer img {
    max-width: 100%;
    height: auto !important; }
  .caroussel-outer.in {
    opacity: 1;
    z-index: 1050; }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.15s ease 0s;
  transition-duration: 0.15s; }
  .backdrop.in {
    opacity: .8;
    z-index: 1040; }

@media screen and (max-width: 992px) {
  .field--name-field-paragraph-media-mosaique > .field--item {
    width: 48.6%; }
  .field--name-field-paragraph-media-mosaique > .field--item:nth-child(2n),
  .field--name-field-paragraph-media-mosaique > .field--item:last-child {
    margin-right: 0; } }

@media screen and (max-width: 768px) {
  .field--name-field-paragraph-media-mosaique > .field--item {
    width: 100%;
    margin-right: 0;
    margin-left: 0; } }

@media screen and (min-width: 768px) {
  .field--item iframe.media-oembed-content {
    width: 310px;
    height: auto; } }

.field--name-field-media-video-file::before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  left: 0;
  height: 98.5%; }

@media screen and (min-width: 768px) {
  .label-over-video-in-carousel {
    color: #d9d9d9;
    position: absolute;
    font-size: 3rem;
    z-index: 1000;
    margin: 13% 5%; } }

.field--name-field-text-over-video {
  visibility: hidden; }

.theover {
  display: block;
  width: 70px;
  height: 50px;
  z-index: 50000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px; }

.weird-p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #cccccc; }

.field--item.col-md-6 {
  padding: 5px; }

@media (min-width: 1201px) {
  .container {
    width: 1270px; } }
