{#
/**
 * @file
 * Theme override for a field.
 */
#}

{% if label_hidden %}
    {% if multiple %}
        <div>
            {% for item in items %}
                {{ item.content }}
            {% endfor %}
        </div>
    {% else %}
        {% for item in items %}
            {{ item.content }}
        {% endfor %}
    {% endif %}
{% else %}
    {{ label }}
    {% if multiple %}
        <div>
    {% endif %}
    {% for item in items %}
        {{ item.content }}
    {% endfor %}
    {% if multiple %}
        </div>
    {% endif %}
{% endif %}
