.alert.map-status-message {
	@include responsiveMin(1300px) {
		padding: 15px 128px 15px 40px;
	}

	@include responsiveMin(960px) {
		position:fixed;
		bottom:0;
		left:0;
		width:100%;
		z-index:50;
	}

	p {
		display:inline-block;
		padding-right:30px;

	}

	.alert-dismissible .close {
		@include responsiveMin(960px) {
			top:40px;
		}
	}

	.btn {
		@include responsive(1300px) {
			display:none;
		}
	}
}

.map-pulse {
	@include pulse(20, 40, $brand-primary);
	@include translate(-50%, -50%);
	position:absolute;
}

.map-tiles {
	// Tiles layout
	position:relative;

	@include transition_transform(opacity, 0.3);
	@include translate(0, 0);



	// Replaced display:none with absolute positionning to prevent show-hide rendering problems
	&.map-hidden {
		position:absolute !important;
		left:-100%;
	}
	@include responsive(960px){
		position:absolute !important;
		left:-100%;
	}

	// Main block on the left
	.map-tiles-main {
		width:60%;

		// Fixed ratio America
		.map-tile {
			position: relative;

			&:before {
				display: block;
				content: "";
				width: 100%;
				padding-top: (18 / 17) * 100%;
			}

			> .map-tile-container {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
	}

	// Smaller blocks on the right 50% height
	.map-tiles-secondary {
		width:40%;
		position:absolute;
		top:0;
		bottom:0;
		right:0;

		.map-tile {
			height:50%;
		}
	}

	// Map styling
	.map-tile {
		position:relative;
		overflow:hidden;
		@include transition((opacity));

		&:hover {
			opacity:0.8;
		}

		.map-tile-header,
		.map-tile-overlay,
		.map-tile-overlay-title {
			position:absolute;
		}

		.map-tile-header {
			background-color:$brand-primary;
			color:$white;
			top:0;
			left:0;
			padding:10px 15px;

			@include translate(0%, -100%);
			@include transition_transform();
		}

		.map-tile-container {
			.map-marker-label {
				opacity:0;

				@include transition((opacity));
			}

			width:100%;
			height:100%;
			opacity:0.2;

			@include transition((opacity));
		}

		.map-tile-overlay {
			display:block;
			width:100%;
			height:100%;
			top:0;
			left:0;

			.map-tile-overlay-title {
				font-size:36px;
				color:$white;
				top:50%;
				left:50%;
				text-align:center;

				@include translate(-50%, -50%);
			}
		}

		// Active styles
		&.map-tile-active {
			opacity:1;

			.map-tile-header {
				@include translate(0%, 0%);
			}

			.map-tile-container {
				.map-marker-label {
					opacity:1;
				}

				opacity:1;
			}

			.map-tile-overlay {
				display:none;
			}
		}
	}
}

.map-marker-label {
	position:absolute;
	color:black;
	font-size:11px;
	cursor:pointer;

	@include responsive(1300px) {
		font-size:9px;
	}

	@include translate(-50%, 0%);

	&.map-marker-label-tl { @include translate(-110%, -110%); }
	&.map-marker-label-tc { @include translate(-50%, -20%); }
	&.map-marker-label-tr { @include translate(10%, -110%); }
	&.map-marker-label-ml { @include translate(-110%, -55%); }
	&.map-marker-label-mc { @include translate(-50%, 0%); }
	&.map-marker-label-mr { @include translate(10%, -55%); }
	&.map-marker-label-bl { @include translate(-110%, 0%); }
	&.map-marker-label-bc { @include translate(-50%, 0%); }
	&.map-marker-label-br { @include translate(10%, 0%); }
}

.map-legend,
.map-view-selector {
	z-index:30;
}
.map-actions {
	list-style-type: none;	
}


.map-view-selector {
	position: absolute; 
	top:20px; 
	right:20px;
	width:180px;
	overflow:hidden;
	
	@include responsive(960px){
		display: none;
	}
	ul {
		list-style-type: none;
		padding:0;
		width:60px;
		float:right;
		@include responsive(1300px){
			width:53px;
		}
	}

}

#map-accordion {
	position:relative;
	z-index:30;
	
	@include responsive(960px){
		display: block !important;
	}
}
.map-legend {
	background-color:white;
	bottom:20px;
	height:42px;
	left:20px;
	padding:0 20px;
	position:absolute;
	box-shadow:0px 10px 30px rgba(0,0,0,0.20);

	@include responsive(960px){
		display: none !important;
	}

	ul {
		
		list-style-type: none;
		margin:0;
		padding:0;
	}
	
	li {
		background-image:url(../img/maps/marker-season.png);
		background-position:0 13px;
		background-size:30px 40px;
		background-repeat:no-repeat;
		display:inline-block;
		height:42px;
		margin:0 0 0 20px;
		padding:0 0 0 28px;
		line-height:42px;
		
		&:first-child {
			background-image:url(../img/maps/marker-year.png);
			margin:0;
		}
	}
}