.toolbar-fixed {
  // Targets only header when user is logged in
  &.toolbar-horizontal {
    .modal-dialog {
      top: 79px;
    }
  }

  &.toolbar-vertical {
    .modal-dialog {
      top: 39px;
    }
  }
}

.modal-default{
  .modal-content{
    border-radius: 0;
  }
  
  .modal-header{
    background: $brand-primary;
    color:$white;
    
    .modal-title{
      @include font-size(24);
    }
    
    button.close{
      color:$white;
      position: absolute;
      right:20px;
      top:20px;
      opacity:0.8;
      text-shadow: none;
      @include transition(opacity);
      
      &:hover{
        opacity:1;
      }
    }
  }
}