.table {
	color: $white;
	width:100%;
	max-width:100%;
	margin-bottom:$line-height-computed;

	// Cells responsive padding
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				padding: $table-cell-padding;

				@include responsive($screen-md){
					padding:$table-cell-padding / 2;
				}

				@include responsive($screen-xs){
					padding:$table-cell-padding / 3;
				}
			}
		}
	}

	a {
		color: $white;
		text-decoration: underline;
	}

	.btn {
		text-decoration: none;
	}

	> caption {
		background: $brand-primary;
		color:$gray-lighter;
		padding:$table-condensed-cell-padding;
	}

	> thead {
		> tr {
			background: $brand-primary;
			> th {
				color:$gray-lighter;
				font-weight: $bold;
				padding-top: $table-condensed-cell-padding;
				padding-bottom: $table-condensed-cell-padding;
				height: 40px !important;
			}
		}
	}

	tr {
		th:first-child {
			text-align: left;
			padding-left: 35px;

			@include responsive($screen-xs){
				padding-left:15px;
			}
		}
		td:first-child {
			text-align: left;
			padding-left: 35px;

			@include responsive($screen-xs){
				padding-left:15px;
			}
		}
	}
	th, td {
		text-align: center;
		@include font-size(14);

		@include responsive($screen-md){
			@include font-size(12);
		}

		@include responsive($screen-xs){
			@include font-size(11);
		}

		ul, ol {
			text-align:left;
		}
	}

	// Hide pulses by default, only shown when status classes are added
	.pulse {
		display: none;
	}

	// Baseline styles

	// Cells
	> tbody {
		> tr {
			> th,
			> td {
				border-top: 1px solid $table-border-color;
				vertical-align: middle;
				height: 60px;

				&[headers*="view-field-white-logo-table-column"] {
					padding: 0;
					img{
						width: auto;
						margin: 0 auto;
						max-height: 40px;
						max-width: 130px;
					}
				}
				
				&[headers*="view-field-flight-number-table-column"] {
					position: relative;
					.pulse{
						position: absolute !important;
						left: 0;
						top:50%;
						@include translate(-50%, -50%);
					}
				}
			}
		}
	}
	// Bottom align for column headings
	> thead > tr > th {
		border-bottom: 0;
	}
}

.table-normal{
	color:$black;
	
	tr {
		th:first-child {
			padding-left: 15px;

			@include responsive($screen-xs){
				padding-left:5px;
			}
		}

		td:first-child {
			padding-left: 15px;

			@include responsive($screen-xs){
				padding-left:5px;
			}
		}
	}

	a {
		color: $black;
	}

	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				color:$black;
				border-top: 0;
				border-bottom: 1px solid $gray-light;
			}
		}
	}

	> thead > tr > th {
		color: $gray-lighter;
	}

	> tbody > tr{
		background-color: $white;
	}
	
	td.actions{
		background:$gray-lighter;
		width:100px;
		
		.radio{
			margin:0;
			text-align:center;
			vertical-align:middle;
			
			input{
				margin:0 auto;
				position:static;
			}
		}
	}
}
.table-striped {
	> tbody > tr:nth-of-type(odd) {
		background-color: $table-bg-accent;
		&:hover{
			background-color: $table-bg-accent !important;
		}
	}
	> tbody > tr:nth-of-type(even) {
		background-color:$table-bg;
		&:hover{
			background-color:$table-bg !important;
		}
	}

	// Cells
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				border-top: 0;
				background:inherit;
				
			}
		}
	}
}

.table-hover {
  > tbody > tr:hover {
    background-color: inherit !important;
  }
}

.table-bordered {
	border: 1px solid $table-border-color;
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				border: 1px solid $table-border-color;
			}
		}
	}
	> thead > tr {
		> th,
		> td {
			border-bottom-width: 2px;
		}
	}
}


.table-summary {
	td{
		text-align: left;
	}
}


// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// Generate the contextual variants
@include table-row-variant('active', $table-bg-active);
@include table-row-variant('success', $state-success-text);
@include table-row-variant('info', $state-info-text);
@include table-row-variant('warning', $state-warning-text);
@include table-row-variant('danger', $state-danger-text);

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

  @media screen and (max-width: $screen-xs-max) {
	  width: 100%;
	  margin-bottom: 0;
	  overflow-y: hidden;
	  -ms-overflow-style: -ms-autohiding-scrollbar;
	  -webkit-overflow-scrolling: touch;
	  border: 0;
  }
}