.window-is-mobile {
	.block-parking-booker,
	.block-reminders{
		.is-mobile{
			display: none !important;
		}
		.is-desktop{
			display: block !important;
		}
	}

	&.inputtypes-time {
		.block-parking-booker,
		.block-reminders{
			.is-mobile{
				display: block !important;
			}
			.is-desktop{
				display: none !important;
			}
		}
	}

	#planifier-son-vol-reserver-un-stationnement,
	#plan-a-flight-parking-reservation{
		.region-content{
			.block-parking-booker {
				form {
					max-width: 660px;
					@include responsive(768px){
						max-width: 100%;
					}
				}
			}
		}
	}
}

.window-is-not-mobile  {
	.block-parking-booker,
	.block-reminders{
		.is-mobile{
			display: none;
		}
		.is-desktop{
			display: block;
		}
	}
}

.touchevents {
	.table-striped > tbody > tr:nth-of-type(odd):hover {
		background-color: #0a0a0b;
	}
	.table-striped > tbody > tr:nth-of-type(even):hover {
		background-color: #1f1f1f;
	}
	a.tile .btn{
		opacity: 1;
	}
	a.tile .tile-description{
		display: none;
	}
	
	#layout-header {
		.dropdown-menu {
			-webkit-overflow-scrolling: auto;
			overflow-y: scroll !important;
			&.no-overflow{
				overflow-y: hidden !important;
			}
			
		}
	}
}

.no-touchevents {

	#layout-header {
		.dropdown-menu {
			&.dropdown-menu-0 {
				@include responsive(950px) {
					@for $i from 25 through 0 {
						nav > ul > li:nth-child(#{$i}) > a {
							$color: darken($brand-primary, min(100, max(0, ($i - 1) * 2.5)));
							&:hover {
								background-color: white; 
								color: $brand-primary; 
								font-size: 110%; 
								margin-left: -10px;
								@include responsive(1024px){
									margin-left: -5px;
								}
								.icon-right-arrow{
									path{
										fill: $brand-primary;
									}
								}
								.icon-extern-link{
									path{
										fill: $brand-primary;
									}
								}
							}
						}
					}

					#block-yqb-languageswitcher {
						> ul > li > a {
							$color: darken($brand-primary, min(100, max(0, (6 - 1) * 2.5)));
							&:hover {
								background-color: white; 
								color: $brand-primary; 
								font-size: 110%; 
								margin-left: -10px;
								@include responsive(1024px){
									margin-left: -5px;
								}
								.icon-right-arrow{
									path{
										fill: $brand-primary;
									}
								}
							}
						}
					}
					#block-useraccountmenu {
						> ul > li > a {
							$color: darken($brand-primary, min(100, max(0, (7 - 1) * 2.5)));
							&:hover {
								background-color: white; 
								color: $brand-primary; 
								font-size: 110%; 
								margin-left: -10px;
								@include responsive(1024px){
									margin-left: -5px;
								}
								.icon-right-arrow{
									path{
										fill: $brand-primary;
									}
								}
								.icon-user{
									path{
										fill: $brand-primary;
									}
								}
							}
						}
					}
				}
			}

			@for $i from 25 through 0 {

				> li:nth-child(#{$i}) > a {
					$color: darken($brand-primary, min(100, max(0, ($i - 1) * 2.5)));
					&:hover {
						background-color: white; 
						color: $brand-primary; 
						font-size: 110%; 
						margin-left: -10px;
						@include responsive(1024px){
							margin-left: -5px;
						}
						.icon-right-arrow{
							path{
								fill: $brand-primary;
							}
						}
						.icon-extern-link{
							path{
								fill: $brand-primary;
							}
						}
					}
				}
			}
		}
	}
	.content-toggle {
		@include transition((height, opacity, top), 0.1);
	}
	
	a.tile {
		&:hover {
			color: $white;

			&:before {
				@include transition(all, 0.15);
				width: 10px;
				@include responsive(950px) {
					width: 5px;
				}
			}
			&:after {
				@include transition(all, 0.15);
				width: 10px;
				@include responsive(950px) {
					width: 5px;
				}
			}
			.top-bottom-hover {
				&:before {
					@include transition(all, 0.15);
					height: 10px;
					@include responsive(950px) {
						height: 5px;
					}
				}
				&:after {
					@include transition(all, 0.15);
					height: 10px;
					@include responsive(950px) {
						height: 5px;
					}
				}
			}
			.tile-description {
				opacity: 0;
			}
			.btn {
				@include translate(-50%, 10%);
				@include transition-delay(0.1);
				opacity: 1;
			}
		}
		&.embed-responsive-2by1 {
			&:hover {
				img.background-image {
					@include transition(all, 3, ease-out);
					@include scale(1.10);
				}
				
				.icon {
					margin-bottom: 20px;
					@include responsive(1300px) {
						margin-bottom: 12px;
					}
					@include responsive($screen-xs) {
						margin-bottom: 2px;
					}
				}

				.title-default {
					@include translate(0, -25px);
					font-size: 160%;
					@include responsive(1300px) {
						font-size: 150%;
					}
				}
			}
		}
		&.embed-responsive-1by1 {
			&:hover {
				img.background-image {
					@include transition(all, 3, ease-out);
					@include scale(1.10);
				}
				
				.icon {
					margin-bottom: 20px;
					@include responsive(1300px) {
						margin-bottom: 12px;
					}
					@include responsive($screen-xs) {
						margin-bottom: 2px;
					}
				}
				
				.tile-icon + h2{
					margin-top:20px;
					
					@include responsive(1300px) {
						margin-top: 12px;
					}
					@include responsive($screen-xs) {
						margin-top: 2px;
					}
				}
			}
		}
		.btn {
			&:hover {
				background-color: transparent !important;
				color: $white !important;
			}
		}
	}
}

.no-videoautoplay {
	#block-herosearchblock {
		background:url(../videos/intro.jpg) no-repeat center center / cover;

		.block-title{
			@include text-shadow(2px, 2px, 1px, rgba($black, 0.6));
		}
		
		.block-weather{
			@include text-shadow(1px, 1px, 1px, rgba($black, 0.6));
			
			.icon{
				-webkit-filter: drop-shadow( 1px 1px 1px rgba($black, 0.6) );
			            filter: drop-shadow( 1px 1px 1px rgba($black, 0.6) ); /* Same syntax as box-shadow */
			}
		}
		
		video {
			display:none;
		}
	}
}