#block-billsblock {
  margin-top: 50px;
}

.parking-container {
  display: flex !important;
  width: 100% !important;
  align-items: flex-end !important;
  justify-content: space-between;
}

.parking-container-item-container {
  margin: 0 !important;
  padding: 0 !important;
  width: auto !important;
}

.parking-container-item-container-button {
  margin: 0 !important;
  padding: 0 !important;
  align-items: center !important;
  position: static !important;
}

.button-full-width {
  width: 100% !important;
}

.sms-disclaimer {
  padding-left: 10px;
}

.window-is-not-mobile {
  .block-reminders,
  .block-parking-booker {
    .parking-booker-form {
      > .form-wrapper {
        > .form-wrapper:not(.is-mobile) {
          display: flex !important;
        }
      }
    }
  }
}

.block-reminders,
.block-parking-booker {

  .form-block-container {
    > .form-group {
      &.btn-space {
        position: absolute;
      }
    }
  }
}

.view-id-arrivals,
.view-id-departures {
  .late-24 {
    display: none;
  }

  tr.warning {
    .late-24 {
      display: block;
      font-size: 1.1rem;
      color: #ffcc33;
    }
  }
}

.region.region-bottom-actions {
  .block-parking-booker {
    @media(min-width: 768px) {
      flex-basis: 50%;
    }
  }
}

.disabled-parking-booker-form {
  font-weight: bold;
}

.parking-content {
  #recaptcha_element {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    flex-direction: column;
    flex-flow: column wrap;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}

.job_title_wrapper {
  display: flex;
  justify-content: space-between;

  .field--items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .field--item {
      padding: 10px;
      background-color: #e6e6e6;
      margin: 5px;
      font-weight: lighter;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}

.block-yqb-payments {
  margin: 0 40px 40px 40px;
  max-width: 600px;
  width: calc(100% - 80px);
}


.yqb-payments-checkout {
  .user-info {
    span {
      display: inline-block;

      @media(min-width: 680px) {
        &.info {
          min-width: 440px;
          text-align: right;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media print {
  #layout-header {
    display: none;
  }

  #layout-content {
    > .header {
      display: none;
    }

    nav.tabs {
      display: none;
    }
  }

  .breadcrumb-wrapper {
    display: none;
  }

  .region.region-bottom,
  .region.region-bottom-actions,
  #layout-footer {
    display: none;
  }
}

.form-group.error input,
.has-error .form-control {
  background: #fff1f1;
}
