// Styles tirés en partie du paragraphe type vip-drawer
.paragraph--type--tirroir {

  .field--name-field-titre {
    // .title-main
    font-weight: 700;
    color: #fff;
    font-size: 2rem;
    margin: 0;
    font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
    cursor: pointer;
  }

  .field--name-field-description {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px;
    max-width: none;
    font-size: 1.4rem;
  }
}



//feature 104449
.paragraph.paragraph--type--accordeon.paragraph--view-mode--default {
  @media (min-width: 768px) {
    margin:40px;
    width:70%;
    max-width: 870px
  }
}
.paragraph.paragraph--type--content.paragraph--view-mode--default {
  @media (min-width: 768px) {
    margin-left:40px;
  }
}

.field--type-text-with-summary {
  ol {
    @media (min-width: 768px) {
      margin-left:20px;
    }
  }
}

article .field--type-text-with-summary h1 {
  margin: 40px;
}

article .field--type-text-with-summary h2 {
  font-weight: 700;
  font-size: 2.7rem;
}

article .field--type-text-with-summary p {
  @media (min-width: 768px) {
    margin-right:0px;
  }
}
