// Styles tirés en partie du paragraphe type vip-drawer
.paragraph--type--tirroir {

  .field--name-field-titre {
    // .title-main
    font-weight: 700;
    color: #fff;
    font-size: 2rem;
    margin: 0;
    font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
    cursor: pointer;
  }

  .field--name-field-description {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px;
    max-width: none;
    font-size: 1.4rem;
  }
}



//feature 104449
.paragraph.paragraph--type--accordeon.paragraph--view-mode--default {
  @media (min-width: 768px) {
    margin:40px;
    width:70%;
  }
}
