#layout-header .dropdown.open .dropdown-menu {
    width: 100%;
}

// Bugfix: Le padding-top de la toolbar est mal calculé sur le premier chargement.
body.toolbar-horizontal.toolbar-tray-open{
    padding-top: 79px !important;
}

body.toolbar-horizontal{
    padding-top: 40px !important;
}

#nav-footer-socials .icon-infolettre{
    background-image: none;
    border: 5px solid white;
    border-radius: 25px;
    background: white;
}

#nav-footer-socials a .icon.icon-infolettre path{
    fill: black !important;
}

.field--name-body{
    h2 {
        font-size: 2.4rem;
        margin: 20px 40px;
        font-weight: normal;
    }

    p { 
        font-size: 16px;
        margin: 20px 40px;
    }
}

article {
    .field--name-body{ 
        h3, h4 {
            margin: 20px 40px;
        }
      
        h5 {
            margin: 20px 40px;
        }

        ul{
            padding-left: 40px !important;
        }

        table{
            margin: 20px 40px
        }
    }
  }

  .table-responsive td p{
      margin: 20px;
  }

.captcha.form-item{
    .panel-heading{
        display: none;
    }
}


#services-aeroportuaires-vestiaires-consigne-et-service-demballage td:before, 
#airport-services-coat-check-storage-and-secure-wrap-baggage-services td:before{
    @media (max-width: 769px) {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        font-size: 14px;
    }
}