//Home FAQ
.view-page-categories_faq {
  .region-content {
    padding: 0 0 40px;
    background-color: #f1f5f8;
    @media (min-width: 1024px) {
      padding: 0 0 100px;
    }
  }
  .main-content {
    border-bottom: 0;
  }
  .page-wrapper {
    margin-bottom: 0;
  }
}
.categoriesFaq__header {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55px 0 0;
  background-color: #f1f5f8;
  .title-page {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 3rem;
    font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    @media (min-width: 768px) {
      font-size: 4rem;
    }
  }
  .block-search-faq {
    width: 100%;
    max-width: 500px;
    transform: translateY(50%);
  }
}

.view-content {
  padding: 64px 0 0;
  background-color: #fff;
}

//Bloc search FAQ
.search-block-form-faq {
    .input-group {
      border: 1px solid #C4C4C4;
      height: 40px;
      background-color: #fff;
      border-radius: 5px;
    }
    .form-search,
    .form-autocomplete {
      width: 100%;
      height: 40px;
      padding: 0 0 0 16px;
      font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
      font-size: 1.2rem;
      line-height: 2.2;
      &::placeholder {
        color: #787878;
        font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
        font-size: 1.2rem;
        line-height: 2.2;
      }
    }
    .form-submit {
      width: 45px;
      height: 100%;
      background: transparent;
      border: 0;
    }
    svg {
      fill: #0054FF;
    }
}

.categoriesFaq__wrapper {
  max-width: 915px;
  margin: 0 auto;
  .categoriesFaq__grid {
    margin: 0 -4px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .categoriesFaq__grid-item {
    margin: 0 4px 8px;
    flex-shrink: 0;
    width: calc(50% - 8px);
    height: 190px;
    @media (min-width: 768px) {
      width: calc(33% - 8px);
      height: 190px;
    }
    @media (min-width: 1024px) {
      width: calc(25% - 8px);
      height: 190px;
    }
  }
  .categoriesFaq__grid-item-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 20px 43px;
    flex-grow: 0;
    overflow: hidden;
    img {
      max-width: 64px;
      height: auto;
      flex-grow: 0;
      transition: transform 250ms ease-in-out;
    }
    .category-name {
      margin-top: 13px;
      flex-grow: 0;
      color: #fff;
      font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
      font-size: 2.2rem;
    }
    &:hover {
      img {
        transform: scale(1.3, 1.3);
      }
    }
  }
}

.page-cetegorie-faq {
  .region-content {
    background-color: #fff;
    position: relative;
    z-index: 1;
  }
  .main-container {
    .main-content {
      border: 0;
    }
    .search-block-form-faq {
      width: 100%;
      margin-bottom: 30px;
      @media (min-width: 768px) {
        width: 330px;
        margin: 0 auto 38px;
      }
    }
    .page-wrapper {
      padding: 0 0 100px;
      background-color: #f1f5f8;
    }
    .title-page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 150px;
      padding: 0;
      font-size: 3rem;
      font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
      font-weight: 700;
      text-align: center;
      border-bottom: 0;
      @media (min-width: 768px) {
        font-size: 4rem;
      }
      color: #fff;
      background-color: #ff526c;
    }
    .categoriesFaq__wrapper-menu {
      background-color: #fff;
      box-shadow: 0 2px 20px 0 rgba(0, 55, 35, 0.15);
      position: relative;
      z-index: 2;
      @media (min-width: 768px) {
        padding: 20px 0;
      }
      .categoriesFaqTrigger__menu {
        width: 100%;
        padding: 20px 24px 20px 0;
        background-color: #fff;
        border-width: 0 0 6px 0;
        border-style: solid;
        border-color: #0054ff;
        text-align: right;
        font-size: 1.6rem;
        font-weight: 700;
        box-shadow: 0 2px 20px 0 rgba(0, 55, 35, 0.15);
        @media (min-width: 768px) {
          display: none;
        }
        .icon-faq-arrow {
          margin-left: 16px;
          img {
            transition: transform 250ms ease-in-out;
            transform: rotate(0deg);
          }
        }
        &[aria-hidden="false"] {
          .icon-faq-arrow {
            img {
              transform: rotate(180deg);
            }
          }
        }
      }
      .nav {
        display: flex;
        flex-direction: column;

        padding: 40px 24px 0;
        position: absolute;
        top: 69px;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 3;
        opacity: 0;
        max-height: 0;
        visibility: hidden;
        box-shadow: 0 2px 20px 0 rgba(0, 55, 35, 0.15);
        @media (min-width: 768px) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          gap: 40px;
          padding: 0;
          box-shadow: unset;
          visibility: visible;
          opacity: 1;
          max-height: unset;
          position: unset;
          top: unset;
          left: unset;
          right: unset;
        }
        &.opened {
          overflow: hidden;
          opacity: 1;
          transition: visibility 0s ease, max-height 250ms ease, transform 250ms ease, opacity 250ms ease;
          max-height: 100em; // magic number for max-height = enough height
          visibility: visible;
        }
        li {
          margin-bottom: 40px;
          @media (min-width: 768px) {
            margin-bottom: unset;
          }
          a {
            padding: 0 4px;
            position: relative;
            color: #000;
            font-weight: 400;
            font-size: 1.8rem;
            @media (min-width: 768px) {
              font-size: 1.6rem;
              &::before {
                content: "";
                height: 6px;
                position: absolute;
                right: 0;
                bottom: -20px;
                left: 0;
                background-color: #0054ff;
                opacity: 0;
                transition: opacity 250ms ease-in-out;
              }
            }
            &:hover {
              background-color: transparent;
              &::before {
                opacity: 1;
              }
            }
          }
          &.active {
            a {
              font-weight: 700;
              &::before {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .subCategoriesFaq__menu {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
      margin: 0 auto 40px;
      padding: 0;
      list-style-type: none;
      flex-direction: row;
      justify-content: flex-start;
      border-style: solid;
      border-color: #1F1F1F;
      border-width: 0 1px 1px 1px;
      &:empty {
        border-width: 0;
      }
      @media (min-width: 475px) {
        border-width: 0 1px 1px 0;
      }
      @media (min-width: 768px) {
        border-width: 1px 0 0 1px;
      }
      @media (min-width: 1024px) {
        border-width: 0 0 0 1px;
      }
      .subCategoryFaq__menu-item {
        width: 100%;
        @media (min-width: 475px) {
          width: 50%;
        }
        @media (min-width: 768px) {
          width: 33.33%;
        }
        @media (min-width: 1024px) {
          width: auto;
          &:nth-child(n+5) {
            .subCategoriesFaq__link {
              border-width: 0 1px 1px 0;
            }
          }
        }
        .subCategoriesFaq__link {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          height: 43px;
          padding: 0 10px;
          border-width: 1px 0 0 0;
          border-style: solid;
          border-color: #1F1F1F;
          background-color: #fff;
          text-align: center;
          line-height: 1;
          font-size: 13px;
          font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
          font-weight: 700;
          @media (min-width: 475px) {
            border-width: 1px 0 0 1px;
          }
          @media (min-width: 768px) {
            border-width: 0 1px 1px 0;
          }
          @media (min-width: 1024px) {
            width: 199px;
            border-width: 1px 1px 1px 0;
          }
          &:hover {
            transition: all 250ms ease-in-out;
            background-color: #0054FF;
            color: #fff;
          }
        }
        &.active {
          .subCategoriesFaq__link {
            background-color: #0054FF;
            color: #fff;
          }
        }
      }
    }
  }
}
.accordion-faq {
  max-width: 800px;
  margin: 0 auto;
  .panel-group-default {
    .panel-default {
      margin-bottom: 16px;
      border: 1px solid #c4c4c4;
      border-radius: 4px;
      overflow: hidden;
      &.panel {
        background-color: #fff;
        &:nth-child(odd) {
          a {
            background-color: #fff;
          }
        }
      }
      .panel-heading {
        a {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-grow: 1;
          height: auto;
          .panel-title-content {
            width: 100%;
            padding: 20px 0 20px 16px;
          }
          &.collapsed {
            .icon-faq-arrow {
              img {
                transform: rotate(0deg);
              }
            }
          }
          .icon-faq-arrow {
            width: 24px;
            height: 12px;
            display: block;
            margin-right: 24px;
            img {
              transform: rotate(180deg);
              transition: transform 250ms ease-in-out;
            }
            svg {
              width: 24px;
              height: 12px;
              display: block;
            }
          }

          h2 {
            font-size: 16px;
            line-height: 25px;
            font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
            font-weight: 700;
          }
        }
      }
      .panel-body {
        padding: 0 40px 20px 16px;
        p {
          font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
          font-size: 16px;
          font-weight: normal;
          line-height: 25px;
          a {
            display: inline;
            color: #0054FF;
            font-weight: 700;
          }
        }
      }
    }
  }
  .view-empty {
    text-align: center;
    margin-bottom: 30px;
  }
}
.subCategoriesFaq__contact-us {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto 40px;
  background-color: #1F1F1F;
  padding: 20px 24px;
  .icon {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 32px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  p {
    color: #fff;
    font-weight: bold;
    a {
      color: #fff;
    }
  }
}

.ajax-progress-fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  &::before {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    opacity: .8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .throbber {
    width: 54px;
    height: 54px;
    display: block;
    background: url('../img/faq/faq-throbber.svg') center no-repeat;
    animation:spin 1s linear infinite;
    position: relative;
    z-index: 2;
  }
  @keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}
}
