@font-face {
  font-family: "TT Common";
  src: url("../fonts/tt-commons-regular-webfont.woff2") format("woff2"),
  url("../fonts/tt-commons-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Common";
  src: url("../fonts/tt-commons-italic-webfont.woff2") format("woff2"),
  url("../fonts/tt-commons-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Common";
  src: url("../fonts/tt-commons-medium-webfont.woff2") format("woff2"),
  url("../fonts/tt-commons-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Common";
  src: url("../fonts/tt-commons-medium-italic-webfont.woff2") format("woff2"),
  url("../fonts/tt-commons-medium-italic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "TT Common";
  src: url("../fonts/tt-commons-demibold-webfont.woff2") format("woff2"),
  url("../fonts/tt-commons-demibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Common";
  src: url("../fonts/tt-commons-demibold-italic-webfont.woff2") format("woff2"),
  url("../fonts/tt-commons-demibold-italic-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Common";
  src: url("../fonts/tt-commons-bold-webfont.woff2") format("woff2"),
  url("../fonts/tt-commons-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Common";
  src: url("../fonts/tt-commons-bold-italic-webfont.woff2") format("woff2"),
  url("../fonts/tt-commons-bold-italic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
