.paragraph--type--mosaique {

  .field--name-field-image {
    display: block;
  }

  img {
    max-width: 100%;
    max-height: auto;
    position: relative;
    vertical-align: middle;
    left: 50%;
    transform: translate(-50%);
    height: 240px;
    width: 100%; //360px;
    object-fit: cover;
  }
}

.field--name-field-mosaique-image > .field--item {
  width: 22.5%;
  margin-bottom: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}
