.paragraph--type--mosaique .field--name-field-image {
  display: block;
}

.paragraph--type--mosaique img,
.paragraph--type--mosaique video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.field--name-field-media-video-file {
  position: relative;
  .theover:hover {
    path:nth-child(1){
      fill: hsla(0,0,20%,0.8);
    }
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    opacity: .9;

    path:nth-child(1):hover{
        fill: hsla(0,0,20%,0.8);
    }

    path:nth-child(1) {
      fill: hsla(0,0%,0%,0.6);

    }
    path:nth-child(2){
      fill: hsla(0,0%,100%,1);
    }
    z-index:1000;

  }
}

.field--name-field-paragraph-media-mosaique {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > .field--item {
    width: 23.1%;
    margin-bottom: 24px;
    margin-right: 2.5%;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
  }
}

.field--name-field-paragraph-media-mosaique > .field--item:nth-child(4n),
.field--name-field-paragraph-media-mosaique > .field--item:last-child {
  margin-right: 0;
}

#siema {
  overflow: hidden;
  direction: ltr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  button.close {
    opacity: 0.7;
    float: right;
    color: #fff;
    padding: 5px 0px;
    width: 15px;

    svg {
      fill: #fff;
    }

    &:hover {
      opacity: 1;
    }
  }

  video {
    width: 100%;
    transform: translateY(8%);
  }

  & > div, & > div > div {
    text-align: center;
    height: 100%;
    display: relative;
  }

  .siema-item-container {
    position: relative;

    .video-full-screen {
      width: 36px;
      height: 37px;
      position: absolute;
      bottom: -5px;
      right: 53px;
      display: block;
      background-color: transparent;
      z-index: 99999999;
      cursor: pointer;
    }

    img {
      width: 100%;
    }
  }
}

.controls {

  .next {
    right: 15%;

    svg {
      transform: rotate(-90deg);
      margin-top: 6px;

      path {
        fill: #fff;
      }
    }
  }

  .prev {
    left: 15%;

    svg {
      transform: rotate(90deg);
      margin-top: 6px;

      path {
        fill: #fff;
      }
    }
  }

  .next, .prev {
    background-color: #3376ff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 22px;
    margin-top: -10px;
    padding: 8px 10px 9px;
    position: absolute;
    top: 50%;
    z-index: 1080;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
  }

  .next.disabled, .prev.disabled {
    opacity: .5;
    cursor: default;
  }
}

.caroussel-outer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.15s ease 0s;
  opacity: 0;
  z-index: -1;

  img {
    max-width: 100%;
    height: auto !important;
  }

  &.in {
    opacity: 1;
    z-index: 1050;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease 0s;
  -o-transition: opacity 0.15s ease 0s;
  transition: opacity 0.15s ease 0s;
  transition-duration: 0.15s;

  &.in {
    opacity: .8;
    z-index: 1040;
  }
}

@media screen and (max-width: 992px) {
  .field--name-field-paragraph-media-mosaique > .field--item {
    width: 48.6%
  }

  .field--name-field-paragraph-media-mosaique > .field--item:nth-child(2n),
  .field--name-field-paragraph-media-mosaique > .field--item:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .field--name-field-paragraph-media-mosaique > .field--item {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.field--item {
  iframe.media-oembed-content {
    @media screen and (min-width: 768px) {
      width:310px !important;
      height:auto;
    }
  }
}

//feature
.field--name-field-media-video-file::before{
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  left: 0;
  height:96%;
}

.label-over-video-in-carousel {
  @media screen and (min-width: 768px) {
    color: #d9d9d9;
    position:absolute;
    font-size: 3rem;
    z-index: 1000;
    margin: 13% 5%;
  }
}

.field--name-field-text-over-video {
  visibility: hidden;
}

.theover {
  display:block;
  width:70px;
  height:50px;
  //background-color:tomato;
  z-index:50000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius:10px;
}

.weird-p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #cccccc;

  //text-shadow: 1px 0 0 white;
}

//.blackscreen {
//  display:block;
//  position:absolute;
//  width:100%;
//  height:90%;
//  top:15%;
//  background:rgba(0, 0, 0, 0.3);
//  z-index:1;
//}
