.paragraph--type--mosaique .field--name-field-image {
  display: block;
}

.paragraph--type--mosaique img,
.paragraph--type--mosaique video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.field--name-field-media-video-file {
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    opacity: .9;
    fill: #fff;
  }
}

.field--name-field-paragraph-media-mosaique {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > .field--item {
    display: block;
    float: left;
    width: 23.1%;
    margin-bottom: 24px;
    margin-right: 2.5%;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
  }
}

.field--name-field-paragraph-media-mosaique > .field--item:nth-child(4n),
.field--name-field-paragraph-media-mosaique > .field--item:last-child {
  margin-right: 0;
}

#siema {
  overflow: hidden;
  direction: ltr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  button.close {
    opacity: 0.7;
    float: right;
    color: #fff;
    padding: 5px 0px;
    width: 15px;

    svg {
      fill: #fff;
    }

    &:hover {
      opacity: 1;
    }
  }

  video {
    width: 100%;
    transform: translateY(8%);
  }

  & > div, & > div > div {
    text-align: center;
    height: 100%;
    display: relative;
  }

  .siema-item-container {
    position: relative;

    .video-full-screen {
      width: 36px;
      height: 37px;
      position: absolute;
      bottom: -5px;
      right: 53px;
      display: block;
      background-color: transparent;
      z-index: 99999999;
      cursor: pointer;
    }

    img {
      width: 100%;
    }
  }
}

.controls {

  .next {
    right: 15%;

    svg {
      transform: rotate(-90deg);
      margin-top: 6px;

      path {
        fill: #fff;
      }
    }
  }

  .prev {
    left: 15%;

    svg {
      transform: rotate(90deg);
      margin-top: 6px;

      path {
        fill: #fff;
      }
    }
  }

  .next, .prev {
    background-color: #3376ff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 22px;
    margin-top: -10px;
    padding: 8px 10px 9px;
    position: absolute;
    top: 50%;
    z-index: 1080;
    border: none;
    outline: none;
    width: 75px;
    height: 75px;
  }

  .next.disabled, .prev.disabled {
    opacity: .5;
    cursor: default;
  }
}

.caroussel-outer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.15s ease 0s;
  opacity: 0;
  z-index: -1;

  img {
    max-width: 100%;
    height: auto !important;
  }

  &.in {
    opacity: 1;
    z-index: 1050;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease 0s;
  -o-transition: opacity 0.15s ease 0s;
  transition: opacity 0.15s ease 0s;
  transition-duration: 0.15s;

  &.in {
    opacity: .8;
    z-index: 1040;
  }
}

@media screen and (max-width: 992px) {
  .field--name-field-paragraph-media-mosaique > .field--item {
    width: 48.6%
  }

  .field--name-field-paragraph-media-mosaique > .field--item:nth-child(2n),
  .field--name-field-paragraph-media-mosaique > .field--item:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .field--name-field-paragraph-media-mosaique > .field--item {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
