.parking-container {
  display:flex !important;
  width:100% !important;
  align-items:flex-end !important;
  justify-content: space-between;
}

.parking-container-item-container{
  margin:0 !important;
  padding:0 !important;
  width:auto !important;
}

.parking-container-item-container-button{
  margin:0 !important;
  padding:0 !important;
  align-items: center !important;
  position:static !important;
}

