{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'block-child block-form'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }} style="color: {{content.field_color_1.0 ? content.field_color_1.0 : '#012d8b'}}">
  {% if content.field_title %}
     <h3> {{ content.field_title }}</h3>
  {% endif %}
    <div class="container-form">
      {{webform_newsletter}}
    </div>
  </div>
{% endblock paragraph %}