{#
/**
 * @file
 * Default theme implementation to display a block.
 */
#}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.removeClass('clearfix')|without('role', 'aria-labelledby') }}>
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
