body {
  margin-top: 0;
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow-x: hidden;
  font-weight: $regular;
  font-style: normal;
  @include responsive($screen-md){
    @include font-size(15);
  }
  @include responsive($screen-sm){
    @include font-size(14);
  }
  @include responsive(550px){
    padding-bottom: 80px;
  }
  &.navbar-is-static-top {
    margin-top: 0;
  }
  &.navbar-is-fixed-top {
    margin-top: ($navbar-height + ($grid-gutter-width / 2));
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: ($navbar-height + ($grid-gutter-width / 2));
  }
  
  &.toolbar-tray-open{
    @include responsive(605px){
      padding-top:0 !important;
      
      #toolbar-administration{
        display: none;
      }
    }
  }

  #layout-content {
    &:after {
      cursor:progress;
      display:none;
      content:'';
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:rgba(#FFF, 0.5);
      z-index:100;
      opacity:0;
      @include transition(opacity, 1);
    }
  }
 
  
  
  &.is-loading {
    #layout-content {
      *, *:before, *:after {
        cursor:progress;
      }

      &:after {
        display:block;
        opacity:1;
      }
    }
  }
}

p{
  a{
    text-decoration: underline;
    color: $link-color;
  
    &:hover,
    &:focus {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }
}



.link-inline{
  text-decoration: underline;
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

// Tabs/Local Actions.
.local-actions {
  margin: 10px 0 10px -5px;
}
.tabs--secondary {
  margin: 10px 0 5px;
}


// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}
