#layout-header{
  a {
    outline:none;
  }

  .logo{
    margin:0;
    .is-mobile{
      display: none;
      width: 152px;
      @include responsive($screen-xs){
        display: inline-block;
      }
    }
    .is-desktop{
      width: 205px;
      display: inline-block;
      @include responsive(950px){
        width: 185px;
      }
      @include responsive($screen-xs){
        display: none;
      }
    }
    img{
      display: block;
      width:100%;
    }
  }
}
.layout-main-wrapper{
  overflow-x: hidden;
}
#layout-main{
  background-color: $white;
  max-width: $layoutWidth;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @include responsiveMin(1680px){
    &:before {
      content: '';
      display: block;
      width: 200px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -200px;
      z-index: 1;
      @include gradient-horizontal(rgba(#fafafa, 0), #f5f5f5, 0%, 100%);
    }
    
    &:after {
      content: '';
      display: block;
      right: -200px;
      width: 200px;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
      @include gradient-horizontal(#f5f5f5, rgba(#fafafa, 0), 0%, 100%);
    }
  }
}

#layout-content{
  padding-bottom: $grid-gutter-width;
  position:relative;
}

.heading {
  position:relative;
  width:100%;
}

.main-container {
  position:relative;
}

.page-wrapper {
  display:table;
  position:relative;
  table-layout:fixed;
  width:100%;
  margin-bottom: 40px;
  .main-content{
    border-bottom: 1px solid $gray-light;
  }
}

.content-wrapper{
  position:relative;
  display:table-row-group;

  // Fix mobile safari issues
  @include responsive(900px) {
    display: block;
  }

  &.content-have-sidebar {
    @include clearfix();
    padding-left: 250px;
    @include transition((padding));
    @include responsive($screen-md) {
      padding-left: 215px;
    }
    @include responsive(900px) {
      padding-left: 0;
    }
  }

  .sidebar-content,
  .main-content {
    display:table-cell;
    vertical-align:top;
    width:100%;
    
    // Fix of fix mobile safari issues
    @include responsive(900px) {
      display: block;
    }
  }

  .sidebar-content {
    width: 250px;

    /*
    position: absolute;
    left: 0;
    top:0;
    */
    @include transition((left));
    @include box-shadow(inset -1px 3px 4px -1px rgba(0, 0, 0, 0.15));
    @include responsive($screen-md) {
      width: 215px;
    }
    @include responsive(900px) {
      display: none;
      height: 0;
    }
  }

  .sidebar-content + section {
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
    &:before{
      left:-7px;
      height: 100%;
      content: '';
      display: block;
      width: 7px;
      position: absolute;
      top:0;
      @include gradient-horizontal(rgba($black, 0), rgba($black, 0.13), 0%, 100%);
    }
  }

  &.has-drawer {
    padding-left:0px;
    overflow:hidden;

    .map-tiles {
      @include transition_transform(opacity, 0.3, 0.3);
      @include translate(-260px,0);
    }
    .drawer {
      @include transition_transform(opacity, 0.3, 0.3);
      @include translate(0,0);
      @include box-shadow(-9px 0 18px 0 rgba(0, 0, 0, 0.15));
    }
  }
}

#layout-footer{
  background:$black; 
  color:$white;
  padding:40px 390px 40px 290px;
  min-height: 240px;
  position: relative;
  
  @include responsiveMin(1680px){
    &:before {
      content: '';
      display: block;
      width: 400%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -400%;
      background-color: $black;
      z-index: 2;
    }
    
    &:after {
      content: '';
      display: block;
      right: -400%;
      width: 400%;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: $black;
      z-index: 2;
	
    }
  }
  
  @include responsive(1305px){
    padding: 40px 230px;
  }
  @include responsive(1400px){
    padding: 90px 40px 40px;
  }
  @include responsive($screen-md){
    padding: 100px 20px 45px;
  }
  @include responsive($screen-sm){
    padding: 120px 0 25px;
  }
  @include responsive(480px){
    padding-top: 170px;
  }
  
  a{
    color:$white;
  }
  
  nav > ul > li > a{
    .icon-right-arrow{
      display: none;
    }
  }
  .logo-wrapper {
    position: absolute;
    top:40px;
    left:40px;
    .logo{
      width: 152px;
      display: inline-block;
      img{
        width: 100%;
        display: block;
      }
    }
    @include responsive(1400px){
      top:17px;
    }
    
    @include responsive($screen-md){
      left:20px;
    }
    @include responsive($screen-sm){
      top:27px;
    }
    @include responsive(480px){
      left: 50%;
      @include translate(-50%, 0);
    }
    
    a{
      display: block;
    }
  }
  


  .nav-wrapper {
    max-width: 795px;
    margin: 0 auto;
    text-align: center;
    @include responsive($screen-sm){
      border-top: 2px solid $mineshaft;
      padding: 0 20px;
    }
    .nav-footer-primary-wrapper {
      border-bottom: 2px solid $mineshaft;
      padding: 0 0 10px;
      @include responsive(950px){
        padding: 0;
      }
      @include responsive($screen-sm){
        border: 0;
        margin-right: 40px;
      }
      
      @include responsive(550px){
        #nav-footer-primary{
          display: none;
        }
        
      }
    }
    .nav-footer-primary-wrapper,
    .region-footer{
      @include responsive($screen-sm) {
        float: left;
      }
    }
  }
}

// --------------------------------------------------
// Regions
// --------------------------------------------------

.region-top {
  position:relative;
}

.region-sidebar-first {
  &.affix {

  }

  &.affix-top {

  }

  &.affix-bottom {
    position:absolute;
  }
}

// General padding for content
.region-content {
  padding:$content-padding-base;

  @include responsive(1300px){
    padding:$content-padding-large;
  }

  @include responsive(950px){
    padding:$content-padding-small;
  }

  > .tabs,
  > .title-page {
    margin-top:-$content-padding-base;
    margin-left:-$content-padding-base;
    margin-right:-$content-padding-base;

    @include responsive(1300px){
      margin-top:-$content-padding-large;
      margin-left:-$content-padding-large;
      margin-right:-$content-padding-large;
    }

    @include responsive(950px){
      margin-top:-$content-padding-small;
      margin-left:-$content-padding-small;
      margin-right:-$content-padding-small;
    }
  }

  > .tabs + .title-page {
    margin-top:0;
  }

  > .title-page {
    margin-bottom:$content-padding-base;

    @include responsive(1300px) {
      margin-bottom:$content-padding-large;
    }

    @include responsive(950px) {
      margin-bottom:$content-padding-small;
    }
  }
}

.region-footer-overlay {
  position:fixed;
  bottom:0;
  right:10px;
  z-index:990;

  // On top of header
  @include responsive(550px){
    bottom:81px;
  }
}

// Exceptions to padded layout
.view-page-arrivals,
.view-page-check_in,
.view-page-departures,
.view-page-destinations,
.view-page-news,
.view-page-blog,
.view-page-archive,
.view-page-blog_archiver,
.view-page-airlines,
.path-frontpage,
.path-flights-and-destinations-text-reminders,
.path-vols-et-destinations-alerte-sms,
.path-planifier-son-vol-reserver-un-stationnement,
.path-plan-a-flight-parking-reservation,
.page-node-type-article,
.path-a-propos-entreprise-mission-vision-et-valeurs,
.path-about-company-mission-vision-values,
.path-a-propos-entreprise-gouvernance-et-direction-generale,
.path-about-company-corporate-governance-and-senior-management,
.path-questions-et-commentaires-faq,
.path-questions-and-comments-faq,
.path-a-propos-entreprise-histoire ,
.path-about-company-history ,
.path-visiter-quebec {
  .region-content {
    padding:0;

    > .tabs,
    > .title-page { 
      margin-top:0;
      margin-left:0;
      margin-right:0;
    }
  }
}

.path-a-propos-entreprise-mission-vision-et-valeurs,
.path-about-company-mission-vision-values {
  blockquote,
  blockquote footer {
    background:transparent;
    border:0;
    color:$white;
    font-size:100%;
    line-height:1;
    margin:0;
    outline:0;
    padding:0;
    quotes:none;
    vertical-align:baseline;

    &:before,
    &:after {
      content:'';
    }

    cite {
      font-style:normal;
    }
  }
}
// Remove page title margin bottom
.view-page-news,
.view-page-blog,
.view-page-destinations,
.view-page-check_in,
.view-page-archive,
.view-page-blog_archiver,
.view-page-airlines,
.path-questions-et-commentaires-faq,
.path-questions-and-comments-faq,
.path-flights-and-destinations-text-reminders,
.path-vols-et-destinations-alerte-sms,
.path-planifier-son-vol-reserver-un-stationnement,
.path-plan-a-flight-parking-reservation,
.path-a-propos-entreprise-gouvernance-et-direction-generale,
.path-about-company-corporate-governance-and-senior-management {
  .region-content {
    > .title-page {
      margin-bottom:0;
    }
  }
}

.path-planifier-son-vol,
.path-plan-a-flight  {
  .region-content {
    padding:0;

    > .tabs,
    > .title-page {
      margin-top:0;
      margin-left:0;
      margin-right:0;
    }
  }
}

[id^="planifier-son-vol-reserver-un-stationnement-"], [id^="plan-a-flight-parking-reservation-"], [id^="planifier-son-vol-modifier-"], [id^="plan-a-flight-parking-modification"]{
  .content-wrapper .main-content{ 
    @include responsive(900px) {
      display:block;
    }
  }
  
  .sidebar-content {
    display:none;
  }
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  @include flexbox();
}

.row-table {
  display:table;
  height:100%;
  table-layout:fixed;
  width:100%;

  .col-table {
    display:table-cell;
    height:100%;
    vertical-align:top;

    &.is-v-middle {
      vertical-align:middle;
    }

    &.is-half {
      width:50%;
    }

    &.is-third {
      width:33.333333%;
    }

    &.h-full {
      background-repeat:no-repeat;
      background-position:center center;
      background-size:cover;

      > div {
        height:100%;
      }
    }
  }
}
