{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 */
#}

<div class="month">

  {% if title %}
    <h3 class="title-content title-month">{{ title }}</h3>
  {% endif %}
  {% for row in rows %}
    {%
    set row_classes = [
    default_row_class ? 'views-row',
    ]
    %}
    <div class="article-wrapper">
      <div{{ row.attributes.addClass(row_classes) }}>
        {{ row.content }}
      </div>
    </div>
  {% endfor %}

</div>