{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 */
#}
<div class="categoriesFaq__wrapper">

  {% if view.total_rows %}
    <ul class="categoriesFaq__grid">

      {% for row in rows %}
        {%
          set row_classes = [
            default_row_class ? 'views-row',
            'categoriesFaq__grid-item',
          ]
        %}
        {%
          set style = row.content['#row']._entity.field_color.value ? "background-color:" ~ row.content['#row']._entity.field_color.value.0.color
        %}
        <li class="categoriesFaq__grid-item" {{ row.attributes.addClass(row_classes).setAttribute('style', style) }}>
          <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': row.content['#row'].tid}) }}" class="categoriesFaq__grid-item-link">
            {{ row.content }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}

</div>
