.content-toggle {
	background-color:$white;
	left:50%;
	opacity:1;
	padding:100px 115px 145px 115px;
	position:absolute;
	top:92%;
	width:95%;
	display: block;
	z-index:101;
	@include box-shadow(0px 5px 10px 5px rgba(0, 0, 0, 0.08));
	@include translate(-50%,0);


	&.is-collapsed {
		height:0;
		opacity:0;
		overflow:hidden;
		padding:0;
		top:77%;
		position: static;
		z-index: -1;
	}

	> div {
		position: relative;
		text-align:left;
		@include columns(2, 22px);
	}

	> .trigger-toggle {
		bottom:65px;
		left:50%;
		margin-left:-15px;
		position:absolute;

		@include responsive(1400px) {
			bottom:35px;
		}

		@include responsive($screen-lg) {
			bottom:$content-padding-small;
		}
	}

	@include responsive(1400px) {
		padding:50px 60px 85px 60px;
	}

	@include responsive($screen-lg) {
		padding:$content-padding-base $content-padding-base 65px $content-padding-base;
	}

	@include responsive($screen-md) {
		padding:$content-padding-large $content-padding-large 65px $content-padding-large;

		> div {
			@include columns(2, 15px);
		}
	}

	@include responsive($screen-xs) {
		padding:$content-padding-small $content-padding-small 65px $content-padding-small;

		> div {
			@include columns(1, 0);
		}
	}
}