//
// Dropdown menus
// --------------------------------------------------

.toolbar-fixed {
  // Targets only header when user is logged in

  &.toolbar-horizontal #layout-header {
    .dropdown{
      &.open{
        > .dropdown-menu-1{
          top: 79px;
          height:calc(100% - 79px);
        }
     
        @include responsive(950px){
          > .dropdown-menu-0{
            top:79px;
            height:calc(100% - 79px);
          }
        }
      }
    }
  }
  &.toolbar-vertical #layout-header {
    .dropdown{
      &.open{
        > .dropdown-menu-1{
          top: 39px;
          height:calc(100% - 39px);
        }
     
        @include responsive(950px){
          > .dropdown-menu-0{
            top:39px;
            height:calc(100% - 39px);
          }
        }
      }
    }
  }
}

#layout-header {
  .contextual-region,
  .nav,
  .navbar,
  .navbar-collapse,
  .dropdown {
    position: static;
  }
  
  .block-main-menu{
    .dropdown-menu-1 > .dropdown-menu-header > a.dropdown-back{
      display: none; 
    }
    @include responsive(1024px){
      
      .dropdown-menu-1 > .dropdown-menu-header span{
        padding-left: 23px;
      }
    }
  }
  .dropdown-menu-header {
    padding-right: 103px;
    background-color: #0054ff;
    @include responsive(550px){
      padding-right: 90px;
    }
  }
  .dropdown {
    overflow: hidden;

    &.open {
      .dropdown-menu{
        z-index: $zindex-dropdown;
      }
      @include responsive(950px) {
        > .dropdown-menu-0 {
          top: 0;
          .dropdown-menu-1 {
            top: 0;
            @include translate(55%, 0);
          }
          .is-closing{
            > .dropdown-menu-1 {
              @include transition_transform(opacity, 0.35);
            }
          }
          .open {
            > .dropdown-menu-1 {
              @include transition_transform(opacity, 0.35);
              @include translate(-50%, 0);
            }
          }
        }
      }
      > .dropdown-menu-1 {
        top: 0;

        .dropdown-menu-2 {
          top: 0;
        }
      }

      > .dropdown-menu-2 {
        @include translate(-50%, 0);
      }
    }
  }
  
  .dropdown-menu {
    margin-top: 0;
    z-index: -1;
    &.dropdown-menu-1,
    &.dropdown-menu-2 {
      background-color: $brand-primary;
      border: 0;
      display: block;
      padding: 0;
      position: fixed;
      left: 50%;
      width: $layoutWidth;
      max-width: 100%;
      height: 100%;
      @include font-size(36);
      @include translate(-50%, 0);
      @include responsive(1024px){
        @include font-size(18);
      }
      @include responsive(550px){
        @include font-size(16);
      }
    }
    &.dropdown-menu-1{
      overflow:hidden;
      top:120%;
      @include transition(top, 0.35);
      
      > .dropdown-menu-header > .dropdown-back{
        @include responsiveMin(950px){
          display: none;
        }
      }
      > .dropdown-menu-header > span{
        @include responsive(1024px, 950px){
          padding-left: 23px;
        }
      }
    }
    
    
    &.dropdown-menu-2{
      border-radius: 0;
      display:block;
      margin-top:0;
      position:absolute;
      top:120%;
      @include translate(55%, 0);
      @include transition_transform(opacity, 0.35);
    }
  
    > li > a, > li > span {
      color: $gray-lighter;
      display: block;
      padding: 42px 40px 42px 135px;
      @include responsive(1024px){
        padding: 29px 70px 29px 23px;
      }
      @include responsive(550px){
        padding: 24px 70px 24px 23px;
      }
      white-space: normal;
    }
    > li > a{
      position: relative;
      line-height: 36px;
      @include responsive(1024px){
        line-height: 18px;
      }
      .icon{
        position: absolute;
        right:40px;
        top:50%;
        @include responsive(1024px){
          right: 30px;
        }
        @include translate(0, -50%);
        &.icon-right-arrow{
          width: 15px;
          height: 28px; 
          @include responsive(1024px){
            width: 12px;
            height: 22px; 
          }
        }
        &.icon-extern-link{
          position: static;
          @include responsive(1024px){
            width: 15px;
            height: 15px; 
          }
        }
      }
      
    }

    > li > span {
      padding: 56px 47px 56px 135px;
      
      @include responsive(1024px){
        padding: 29px 40px 29px 80px;
      }
      @include responsive(550px){
        padding: 24px 0 24px 65px;
      }
    }
    
    
    &.dropdown-menu-0 {
      @include responsiveMin(950px){
        
        position: static;
        z-index: $zindex-dropdown;
        display: block; 
        float: none;
        min-width: 0;
        padding: 0;
        margin: 0; // override default ul
        list-style: none;
        font-size: inherit;
        text-align: inherit; // Ensures proper alignment if parent has it changed (e.g., modal footer)
        background-color: transparent;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        background-clip: padding-box;
        > .dropdown-close{
          display: none;
        }
        nav > ul > li > a{
          .icon{
            display: none;
          }
        }
      }
      @include responsive(950px){
          background-color: $brand-primary;
          border: 0;
          display: block;
          padding: 0;
          position: fixed;
          border-radius: 0;
          left: 50%;
          width: $layoutWidth;
          max-width: 100%;
          height: 100%;
          @include font-size(18);
          @include translate(-50%, 0);
          overflow:hidden;
          top:120%;
          @include transition(top, 0.35);
        
        
        @include responsive(550px){
          @include font-size(16);
        }
        .dropdown-close{
          position: absolute;
          top:0;
          padding: 0 80px;
          right:0;
          height: 135px;
          z-index: 400;
          
          @include responsive(950px){
            height: 80px;
            padding: 0 62px;
          }
          
          @include responsive(550px){
            padding: 0 45px;
            height: 70px;
          }
          .icon{
            position: absolute;
            right: 37px;
            top:25px;
          
            @include responsive(950px){
              width: 30px;
              height: 30px; 
            }
            @include responsive(550px){
              width: 25px;
              height: 25px; 
              right: 34px;
              top:22px;
            }
            path{
              fill: $brand-primary;
            }
          }
        }
        .navbar-collapse{
          padding: 0;
        }
        .navbar-nav {
          margin: 0;
        }
        nav > ul > li > a, nav > ul > li > span {
          color: $gray-lighter;
          display: block;
          padding: 29px 40px 29px 23px;
          @include font-size(18);
          @include responsive(550px){
            @include font-size(16);
            padding: 24px 40px 24px 23px;
          }
        }
        nav > ul > li > a{
          position: relative;
          line-height: 18px;
          @include font-size(18);
          @include responsive(550px){
            @include font-size(16);
          }
          .icon{
            position: absolute;
            right:40px;
            top:50%;
            @include responsive(950px){
              right: 30px;
            }
            @include translate(0, -50%);
            &.icon-right-arrow{
              width: 15px;
              height: 28px; 
              @include responsive(950px){
                width: 12px;
                height: 22px; 
              }
            }
          }
        }
    
        @for $i from 25 through 0 {
          nav > ul > li:nth-child(#{$i}) > span {
            $color: darken($brand-primary, min(100, max(0, ($i - 1) * 2.5)));
            background-color: $color;
          }
    
          nav > ul > li:nth-child(#{$i}) > a {
            $color: darken($brand-primary, min(100, max(0, ($i - 1) * 2.5)));
    
            @include transition(sll, 0.1);
    
            background-color: $color;
          }
        }
        
        
        #block-yqb-languageswitcher{
          > ul > li > a{
            $color: darken($brand-primary, min(100, max(0, (6 - 1) * 2.5)));
            
            background-color: $color;
          }
        }
        #block-useraccountmenu{
          > ul > li > a{
            $color: darken($brand-primary, min(100, max(0, (7 - 1) * 2.5)));
            background-color: $color;
          }
        }
      }
      
    }
    
    @for $i from 25 through 0 {
      > li:nth-child(#{$i}) > span {
        $color: darken($brand-primary, min(100, max(0, ($i - 1) * 2.5)));
        background-color: $color;
      }

      > li:nth-child(#{$i}) > a {
        $color: darken($brand-primary, min(100, max(0, ($i - 1) * 2.5)));

        @include transition(all, 0.1);

        background-color: $color;
      }
    }
    
    &.dropdown-menu-0{
      
    }
    .dropdown-menu-header {
      @include font-size(48);
      line-height: 48px;
      position: relative;
      @include responsive(1024px){
        @include font-size(24);
        line-height: 24px;
      }
      @include responsive(550px){
        @include font-size(20);
        line-height: 20px;
      }
      
      a{
        background: none;
        clear:none;
        
        &.dropdown-back {
          position: absolute;
          left:0;
          top:0;
          bottom: 0;
          width: 135px;
          padding: 0;
          background-color: transparent;
          @include responsive(1024px){
            width: 82px;
          }
          @include responsive(550px){
            width: 65px;
          }
          .icon {
            position: absolute;
            height: 41px;
            width: 21px;
            top:50%;
            left: 50%;
            right: auto;
            @include translate(-50%, -50%);
            
            @include responsive(1024px){
              width: 30px;
              height: 30px; 
            }
            @include responsive(550px){
              width: 25px;
              height: 25px; 
            }
            
          }
        }
        
        &.dropdown-close{
          position: absolute;
          top:0;
          padding: 0 80px;
          bottom: 0;
          right:0;
          background-color: transparent;
            
          
          @include responsive(1024px){
            padding: 0 62px;
          }
          @include responsive(550px){
            padding: 0 45px;
          }
          .icon{
            position: absolute;
            right:47px;
            top:50%;
            @include translate(0, -50%);
            
          
            @include responsive(1024px){
              width: 30px;
              height: 30px; 
              right: 37px;
            }
            @include responsive(550px){
              width: 25px;
              height: 25px; 
              right: 34px;
            }
          }
        }
        
        &:hover{
          background: none !important;
        }
      }
    }
  }
}
