/**
 * @file
 * Visual styles for fields.
 */

.field--label {
	font-weight: bold;
}

.field--label-inline .field--label,
.field--label-inline .field--items {
	float: left; /*LTR*/
}

.field--label-inline .field--label,
.field--label-inline > .field--item,
.field--label-inline .field--items {
	padding-right: 0.5em;
}

[dir="rtl"] .field--label-inline .field--label,
[dir="rtl"] .field--label-inline .field--items {
	padding-left: 0.5em;
	padding-right: 0;
}

.field--label-inline .field--label::after {
	content: ':';
}

.page .field--name-field-image {
	display: none;
}


#nous-joindre .region-content,
#contact-us .region-content,
.field--name-body,
.field--name-field-text,
.view-careers,
.view-publications{
	table {
		color: $black;
		width: auto;
		min-width: 620px;
		max-width: 100%;
		margin-bottom: $line-height-computed;
		background-color: $white;
		@include responsive(700px){
			min-width: 0;
		}

		a {
			color: $black;
			text-decoration: underline;
		}

		.btn {
			text-decoration: none;
		}

		tr {
			th {
				color:$white;
				background: $brand-primary;
				font-weight: $bold;
				padding: 15px 25px;
				height: 40px !important;
			}
		}

		tr {
			th:first-child {
				text-align: left;
				padding-left: 25px;
			}
			td:first-child {
				text-align: left;
				padding-left: 25px;
			}
		}
		th, td {
			text-align: center;
			@include font-size(14);
			padding: 15px;

			@include responsive($screen-md) {
				@include font-size(12);
			}
			ul, ol {
				text-align: left;
			}
			a{
				color: $brand-primary;
				&:hover{
					text-decoration: none;
				}
			}
		}
		

		// Baseline styles

		// Cells
		> tbody {
			> tr {
				> th,
				> td {
					border-top: 0;
					vertical-align: middle;
					height: 60px;
				}
			}
		}
		// Bottom align for column headings
		

		> tbody > tr:nth-of-type(odd) {
			background-color: $white;
			&:hover {
				background-color: $white !important;
			}
		}
		> tbody > tr:nth-of-type(even) {
			background-color: $gray-lighter;
			&:hover {
				background-color: $gray-lighter !important;
			}
		}
	}
}
#questions-et-commentaires-poser-une-question .region-content form,
#questions-and-comments-submit-a-question .region-content form,
#nous-joindre .block-basic-content,
#contact-us .block-basic-content,
#nous-joindre .contact-form,
#contact-us .contact-form,
.field--name-body,
.field--name-field-text,
.view-careers{
	max-width: 870px;
	
	figure {
		position:relative;
		margin-bottom: 30px;

		@include responsive($screen-xs){
			margin-bottom: 50px;
		}
		figcaption {
			position:absolute;
			bottom:0;
			left:0;
			background-color:$brand-primary;
			padding:10px 20px;
			margin:0 20px -10px;
			color:white;
			@include font-size(12);
			@include responsive($screen-xs){
				margin-bottom: -30px;
			}
		}
	}

	ul {
		margin-bottom: 20px;
		max-width: 70%;
		padding-left: 30px;
		@include responsive(950px){
			padding-left: 20px;
			max-width: 90%;
		}
		@include responsive($screen-xs){
			padding-left: 12px;
			max-width: 100%;
		}
		li {
			list-style: none;
			position: relative;
			margin-bottom: 4px;
			padding-left: 30px;
			@include font-size(14);
			@include responsive($screen-md) {
				@include font-size(12);
			}
			&:before{
				content: '';
				display: block;
				position: absolute;
				top:5px;
				width: 8px;
				left:4px;
				height:8px;
				border-radius:50%;
				background-color:$brand-primary;
			}
			&:after{
				content: '';
				display: block;
				position: absolute;
				width: 16px;
				height:16px;
				top:1px;
				left:0;
				border-radius:50%;
				background-color: rgba($brand-primary, 0.2);
			}
		}
	}

	p + h3,
	ul + h3,
	table + h3,
	.table-responsive + h3,
	p + h2,
	ul + h2,
	table + h2,
	.table-responsive + h2{
		margin-top: 30px;
	}
	

	// Images in articles
	img {
		max-width: 100%;
	}

	img {

		&.align-left {
			float: left;
			max-width: 100%;
			width: inherit;
			margin-right: 20px;
			margin-bottom: 20px;
			@include responsive($screen-sm) {
				margin-right: 0;
				float: none;
			}
			@include responsive(600px) {
				width: 100%;
				height: auto;
			}
		}
		&.align-right {
			float: right;
			width: inherit;
			max-width: 100%;
			margin-left: 20px;
			margin-bottom: 20px;
			@include responsive($screen-sm) {
				margin-left: 0;
				float: none;
			}
			@include responsive(600px) {
				width: 100%;
			}
		}
	}
	p + ul {
		margin-top: -8px;
	}
	&.contact-message-contact-us-form{
		margin-top: 30px;
		
		.btn{
			margin: 10px 0;
		}
	}
	.form-actions{
		
		.btn{
			margin: 10px 0;
		}
	} 
}

.page .field-intro-img {
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	margin:-$content-padding-base;
	margin-bottom:$content-padding-base;

	@include responsive(1300px) {
		margin:-$content-padding-large;
		margin-bottom:$content-padding-large;
	}

	@include responsive(950px) {
		margin:-$content-padding-small;
		margin-bottom:$content-padding-small;
	}
}

.field--name-field-gallery{
	margin:40px -10px 20px;
	@include flexbox();
	@include flex-wrap(wrap);
	@include flex-direction(row);
	
	> .field--item{
		margin:0 0 20px;
		padding:0 10px;
		width:25%;
		
		@include responsive(900px){
			width:33.33%;
		}
		
		@include responsive(600px){
			width:50%;
		}
	}
}