.icon {
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  circle,
  ellipse,
  path {
    @include transition((fill, stroke));
  }
}

/*-------------------------------------------------------------------
	Icon positioning
-------------------------------------------------------------------*/

.icon-padded-left {
  margin-left: 5px;
}

.icon-padded-right {
  margin-right: 5px;
}

/*-------------------------------------------------------------------
	List of icons
-------------------------------------------------------------------*/

// List of icons

//Fonctionnement du tableau d'icônes
//
//$icons:(
//	(
//		"nom-de-la-classe",
//		largeur désirée, hauteur désirée
//		(("classe-de-la-taille", largeur désirée, hauteur désirée), (etc), ... ),
//	)
//);
//
//Explication des paramètres
//
//@nom-de-la-classe (string): terme désigné pour identifier l'icône  ex: "check" va créer la classe .icon-check
//@largeur désirée (px): largeur de l'icône par défaut dans le site
//@hauteur désirée (px): hauteur de l'icône par défaut dans le site
//
//Pour les grandeurs, ce sont des listes comprenant les mêmes paramètres que précédemment, mais représentant le positionnement et la taille de ces grandeurs

$icons: (
  (
    "arrow",
    20px, 41px
  ),  
  (
    "blog",
    40px, 40px
  ),
  (
    "left-arrow",
    20px, 41px
  ),
  (
    "close",
    41px, 41px
  ),
  (
    "logo-text-fr",
    152px, 56px
  ),
  (
    "logo-text-en",
    152px, 56px
  ),
  (
    "logo-75-fr",
    195px, 85px
  ),
  (
    "logo-75-en",
    195px, 85px
  ),
  (
    "walking",
    24px, 40px
  ),
  (
    "facebook",
    40px, 40px
  ),
  (
    "twitter",
    40px, 40px
  ),
  (
    "youtube",
    40px, 40px
  ),
  (
    "instagram",
    40px, 40px
  ),
  (
    "linkedin",
    40px, 40px
  ),
  (
    "access",
    28px, 28px
  ),
  (
    "arrow-arrow",
    21px, 20px
  ),
  (
    "car-parking",
    29px, 20px
  ),
  (
    "destinations-served",
    60px, 60px
  ),
  (
    "gouvernance",
    28px, 28px
  ),
  (
    "key-car-rental",
    62px, 60px
  ),
  (
    "luggage",
    40px, 65px
  ),
  (
    "add",
    30px, 30px
  ),
  (
    "remove",
    30px, 30px
  ),
  (
    "account",
    17px, 16px
  ),
  (
    "plane-arrival",
    28px, 21px
  ),
  (
    "plane-departure",
    33px, 23px
  ),
  (
    "plane-flights",
    28px, 28px
  ),
  (
    "restauration",
    35px, 60px
  ),
  (
    "planning",
    19px, 28px
  ),
  (
    "right-arrow",
    9px, 22px
  ),
  (
    "down-arrow",
    22px, 9px
  ),
  (
    "down-arrow-2",
    15px, 9px
  ),
  (
    "down-arrow-blue",
    15px, 9px
  ),
  (
    "search",
    25px, 24px
  ),
  (
    "user",
    17px, 16px
  ),
  (
    "info",
    28px, 28px
  ),
  (
    "watch",
    26px, 26px
  ),
  (
    "thumb-up",
    26px, 21px
  ),
  (
    "gouvernance",
    40px, 40px
  ),
  (
    "sunny",
    20px, 20px
  ),
  (
    "clear",
    20px, 20px
  ),
  (
    "cloud",
    20px, 20px
  ),
  (
    "day-cloud",
    20px, 20px
  ),
  (
    "night-cloud",
    20px, 20px
  ),
  (
    "rain",
    20px, 20px
  ),
  (
    "snow",
    20px, 20px
  ),
  (
    "map-list",
    20px, 20px
  ),
  (
    "map-view",
    24px, 24px
  ),
  (
    "crossroad",
    20px, 18px
  ),
  (
    "parking",
    40px, 40px
  ),
  (
    "inparq",
    89px, 70px
  ),
  (
    "proxiparq",
    139px, 70px
  ),
  (
    "cellparq",
    123px, 83px
  ),
  (
    "electric-car",
    60px, 60px
  ),
  (
    "visa",
    65px, 40px
  ),
  (
    "mastercard",
    65px, 40px
  ),
  (
    "americanexpress",
    65px, 40px
  ),
  (
    "extern-link",
    29px, 29px
  ),
  (              
    "shaving",
    22px, 46px
  ),
  (
    "briefcase",
    50px, 44px
  ),
  (
    "prescription",
    38px, 46px
  ),
  (
    "watches-clasp",
    46px, 28px
  ),
  (
    "jacket",
    50px, 49px
  ),
  (
    "marker-app",
    32px, 48px
  ),
  (
    "arrow-app-mobile",
    19px, 12px
  ),
  (
    "gift",
    51px, 51px
  ),
  (
    "mobile",
    39px, 66px
  )
);

@each $icon in $icons {
  .icon-#{nth($icon, 1)} {
    $icon: sl-slice($icon, 2);
    @include grunticon($icon);
  }
}

.icon svg {
  height: 100%;
  width: 100%;
  vertical-align: top;
}

.icon-add.icon-add-close {
  @include transform(rotate(45deg));
}

.icon-yqb-2018{
  background:url(/themes/yqb/img/yqb-2018.png) center center / contain no-repeat;
  height:274px;
  width:274px;
}