//
// Panels
// --------------------------------------------------

// Base class
.panel {
	margin-bottom: 0;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

// Panel contents
.panel-body {
	padding: 0;
	@include clearfix;
}

// Optional heading
.panel-heading {
	padding: 0;
	border-bottom: 0;
	border-radius: none;

	> .dropdown .dropdown-toggle {
		color: inherit;
	}
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
	margin: 0;
	padding: 0;
	@include font-size(16);
	.icon {
		margin-right: 12px;
	}
	@include responsive($screen-sm) {
		@include font-size(14);
		.icon {
			@include scale(0.83);
		}
	}
	a {
		color: $brand-primary;
		font-weight: $regular;
		border-bottom: 1px solid #cedeff;
		background-color: #e5eeff;
		padding: 20px 25px 18px;
		position: relative;
		display: block;
		@include transition(all);
		&:hover {
			background-color: #e5eeff;
		}
		&:before {
			content: "";
			position: absolute;
			background-image: url("../svg/down-arrow-blue.svg");
			height: 6px;
			width: 15px;
			background-size: cover;
			display: block;
			top: 50%;
			right: 25px;
			margin-top: -3px;
			@include rotate(180, 50%, 50%);
		}
		&.collapsed {

			border-bottom: 1px solid $gray-light;
			&:hover {
				background-color: #e5eeff;
			}
			&:before {
				@include rotate(0, 50%, 50%);
			}
		}

	}

	> a,
	> small,
	> .small,
	> small > a,
	> .small > a {
		color: inherit;
	}
}

.panel-group {
	margin-bottom: 0;

	// Tighten up margin so it's only between panels
	.panel {
		margin-bottom: 0;
		border-radius: 0;

		+ .panel {
			margin-top: 0;
		}
	}

	.panel-heading {
		border-bottom: 0;

		+ .panel-collapse > .panel-body,
		+ .panel-collapse > .list-group {
			border-top: 0;
		}
	}

	.panel-footer {
		border-top: 0;
		+ .panel-collapse .panel-body {
			border-bottom: 0;
		}
	}
}

// Contextual variations
.panel-default {
	@include panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}

.panel-primary {
	@include panel-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}

.panel-success {
	@include panel-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}

.panel-info {
	@include panel-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}

.panel-warning {
	@include panel-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}

.panel-danger {
	@include panel-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}


/***********************************************
	DEFAULT PANELS
 **********************************************/


.panel-group-default {
	.panel-title {
		a {
			overflow: hidden;
		}
	}
	.panel {
		&:nth-child(odd) {
			.panel-title {
				a {
					background-color: $gray-lighter;

					&.collapsed {
						background-color: $gray-lighter;
					}

					&:hover {
						background-color: $gray-lighter;
					}
				}
			}
		}
		&:nth-child(even) {
			.panel-title {
				a {
					background-color: $white;

					&.collapsed {
						background-color: $white;
					}

					&:hover {
						background-color: $white;
					}
				}
			}
		}
	}
}

.panel-default {
	margin-bottom: 0;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: none;

	// Panel contents
	.panel-body {
		padding: 0;
		@include clearfix;
	}

	// Optional heading
	.panel-heading {
		padding: 0;
		border-bottom: 0;
		border-radius: none;

		> .dropdown .dropdown-toggle {
			color: inherit;
		}
	}
	
	// Within heading, strip any `h*` tag of its default margins for spacing.
	.panel-title {
		margin: 0;
		padding: 0;
		h2, h3 {
			margin: 0;
			@include font-size(30);
			font-weight: $bold;
			vertical-align: middle;
			display: inline-block;
			width: 100%;
			@include font-size(24);
			line-height: 30px;

			@include responsive(1300px) {
				@include font-size(22);
				line-height: 26px;
			}

			@include responsive($screen-sm) {
				@include font-size(18);
				line-height: 21px;
			}
			@include responsive(400px) {
				@include font-size(16);
				line-height: 19px;
			}
		}

		a {
			color: $brand-primary;
			font-weight: $regular;
			border-bottom: 0;
			height: 120px;
			padding: 0;
			position: relative;
			display: table;
			width: 100%;

			@include responsive(1300px) {
				height: 100px;
			}

			@include responsive(400px) {
				height: 85px;
			}

			@include transition(all);

			.panel-title-content {
				display: table-cell;
				vertical-align: middle;
				padding-left: 40px;
				position: relative;
				padding-right: 110px;

			}
			&:hover {
				background-color: inherit;
				.panel-title-action {
					text-decoration: underline;
				}
			}
			&:before {
				content: normal;

			}

			.icon-down-arrow-2 {
				content: "";
				margin-right: 0;
				@include rotate(180, 50%, 50%);
				height: 14px;
				width: 25px;
				margin-top: -7px;
				
				@at-root .panel-vip &{
					position: absolute;
					right: 40px;
					top: 50%;
				}
				
				@include responsive(1300px) {
					right: 40px;
				}
				@include responsive($screen-sm) {
					height: 11px;
					width: 22px;
					margin-top: -6px;
				}
				@include responsive(400px) {
					height: 10px;
					width: 19px;
					right: 30px;
					margin-top: -5px;
				}
				path {
					fill: $gray;
				}
			}
			&.collapsed {
				border-bottom: 0;
				&:hover {
					background-color: $gray-lighter;
				}

				.icon-down-arrow-2 {
					@include rotate(0, 50%, 50%);
					path {
						fill: $brand-primary;
					}
				}
			}

		}
		color: inherit;

		> a,
		> small,
		> .small,
		> small > a,
		> .small > a {
			color: inherit;
		}
	}

	.panel-group {
		margin-bottom: 0;

		// Tighten up margin so it's only between panels
		.panel {
			margin-bottom: 0;
			border-radius: 0;

			+ .panel {
				margin-top: 0;
			}
		}

		.panel-heading {
			border-bottom: 0;

			+ .panel-collapse > .panel-body,
			+ .panel-collapse > .list-group {
				border-top: 0;
			}
		}

	}
	.panel-collapse {
		border-bottom: 1px solid $gray-lighter;
		padding: 0;
	}
}

.panel-vip{
	margin:0 0 20px !important;
	
	.panel-title {
		&.panel-title-text{
			.field--name-field-image{display: none}
			.field--name-field-title{display: block;}
		}
		
		.field--name-field-image {
			display: block;
			
			img {
				display: block;
				height: 60px;
				width: auto;
				
				@include responsive(600px){
					height:auto;
					max-height: 60px;
					max-width:100%;
				}
			}
		}
		
		.field--name-field-title{display: none;}
		
		a { 
			background-color: $brand-primary !important;
			height:100px;

			.icon-down-arrow-2{
				position: absolute;
				right:40px;
				top:50%;
				
				path{
					fill: $white !important;
				}
			}
		}
	}
	
	.panel-collapse{
		border-left:1px solid $gray-light;
		border-right:1px solid $gray-light;
		@include box-shadow(inset 0 3px 4px -1px rgba(0, 0, 0, 0.15));
		
		.field--name-field-image{display: block}
		
		.paragraph--type--vip-drawer-section{
			border-bottom:1px solid $gray-light;
			padding:20px;
			
			> .field--name-field-title{
				font-weight:bold;
				margin:0 0 20px;
			}
			
			.field--name-field-vip-drawer-cards{
				@include responsive($screen-xs){
					column-count:2;
				}
				
				> .field--item{
					float: left;
					margin:0 0 0 20px;
					
					@include responsive($screen-xs){
						float:none;
						margin:0 0 20px;
						-webkit-column-break-inside: avoid; /* Chrome, Safari */
					    page-break-inside: avoid;           /* Theoretically FF 20+ */
					    break-inside: avoid-column; 
					}
					
					&:first-child{
						margin-left:0;
					}
					
					.paragraph{
						max-width:80px;
						text-align: center;
						
						.field{
							margin:0 auto;
							
							&.field--name-field-image{
								margin-bottom:10px;
								
								img{
									margin:0 auto;
								}
							}
							
							&.field--name-field-title{
								line-height:1.1;
								@include font-size(14);
							}
						}
					}
				}
			}
			
			.field--name-field-text {
				margin:20px 0 0;
				max-width:none;
				@include font-size(14);
			}
		}
		
		table{
			max-width:none;
			width:100%;
			
			@include responsiveMin($screen-xs){
				td{
					width:50%;
					text-align: left;
				}
			}
		}
	}
}