			

#trigger-menu-mobile {
	background:transparent;
	color:$black;
	display:none;
	outline:0;
	position: absolute;
	width: 84px;
	top: 0;
	height: 100px;
	float: right;
	z-index: 400;
	left: 0;
	@include responsive(950px){
		display: block;
	}
	&:hover, &:focus, &:active {
		outline:0;
	}

	span:first-child, span:last-child{
		
		width: 20px;
		height: 1px;
		display: block;
		position: absolute;
		right: 32px;
		background-color: $black;
		@include translate(0, 0);
		@include transition_transform(translate, 0.8);
	}
	span:first-child{
		margin-top:-6px;	
		top:50%;
	}
	span:last-child{
		bottom: 50%;
		margin-bottom:-5px;	
	}
	span.middle{
		width: 20px;
		height: 1px;
		display: block;
		position: absolute;
		right: 32px;
		top:50%;
		margin-top: -1px;
		background-color: $white;
		&:after{
			content: '';
			width: 20px;
			height: 1px;
			display: block;
			position: absolute;
			@include rotate(0, 50%, 50%);
			@include transition_transform(rotate, 1.3);
			background-color: $black;
			transition-delay: 0.3s;
		}
		&:before{
			content: '';
			width: 20px;
			height: 1px;
			display: block;
			position: absolute;
			@include rotate(-0, 50%, 50%);
			@include transition_transform(rotate, 1.3); 
			background-color: $black;
			transition-delay: 0.3s;
		}
	}
}

.trigger-menu-parent {
	&.open {
		#trigger-menu-mobile + .js-dropdown-menu {
			display: none;
		}
	}
}


.trigger-map {
	background-color:white;
	color:black;
	height:60px;
	outline:0;
	position:relative;
	text-align:center;
	width:60px;
	
	@include responsive(1300px){
		width:53px;
		height: 53px;
	}
	@include flexbox();
	@include align-items(center);
	@include transition(background-color);
	
	&:hover {
		span:first-child {
			@include transform(translateX(-100%));
		}
	}
	&:hover,
	&.is-active {
		background-color:black;
		span:first-child {
			color:white;
			background-color:black;
		}
		
		.icon path {
			fill:white;
		}
	}
	
	&.is-active {
		span:first-child {
			color:black;
		}
		&:hover {
			span:first-child {
				color:white;
			}
		}
	}
	span {
		margin:auto;
		position:relative;
		z-index:10;
		
		&:first-child {
			background-color:white;
			color:white;
			height:100%;
			padding:0 30px;
			position:absolute;
			top:0;
			left:0;
			z-index:1;
			min-width:120px;
			line-height:60px;
			@include transition(all);
			@include transform(translateX(0));
			@include responsive(1300px){
				line-height: 53px;
			}
			
		}
	}
	.icon path {
		fill:black;
	}
}