
// Test
.vertical-align {
  position:relative;

  .vertical-align-content {
    z-index: 2;
    position:absolute;
    top:50%;
    @include translate(0, -50%);
    width:100%;
  }
}

.pulse{
  @include pulse(20, 30, $state-danger-text);

  @include responsive($screen-md){
    @include pulse(15, 25, $state-danger-text);
  }

  @include responsive($screen-xs){
    @include pulse(10, 20, $state-danger-text);
  }
}

.pulse-2{
	@include pulse(264, 380, $brand-primary, 0.2, 1.8, true);
}

.c-align{
  text-align: center;
}

.is-static {
  position:static;
}

.is-relative {
  position:relative;
}

.is-display-none {
  display:none;
}


.modal-backdrop{
  display: none!important;
}