
//== Sizes
$layoutWidth: 1680px;


$regular: 400;
$bold: 700;

$content-padding-base:40px;
$content-padding-large:30px;
$content-padding-small:20px;

$btn-font-size-base:             18px;
$btn-font-size-large:             24px;
$btn-font-size-small:             16px;

$btn-line-height-base:             60px;
$btn-line-height-large:             80px;
$btn-line-height-small:             40px;



$navbar-main-height:                  100px;
$navbar-main-padding-horizontal:      floor(($grid-gutter-width / 2));
$navbar-main-padding-vertical:        (($navbar-main-height - $line-height-computed) / 2);

